* {
    font-family: 'Akshar', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F0E3;
    width: 100%;
}
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*-------------------- MOBILE --------------------*/
/* TITLE AND LOGO */
header {
    width: 100%;
}
.logoContainer {
    display: flex;
    align-items: baseline;
}
.logo {
    background-image: url(pics/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 10px 5px 0px 5px;
}
header a {
    color: #FB8500;
    font-size: xx-large;
    font-weight: bold;
}

/* NAVBAR */
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav a {
    display: flex;
    background: #219EBC;
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}
nav a:hover, a:active {
    background: #023047;
}
/* Pics */
.mainImage {
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0px 10px 0px;
}
#homeImage {
    background-image: url(pics/homeimg.jpg);
}
#blogImage {
    background-image: url(pics/blogimg.jpg);
}
#aboutImage {
    background-image: url(pics/aboutimg.jpg);
}
#contactImage {
    background-image: url(pics/conctactimg.jpg);
}
#shopImage {
    background-image: url(pics/shopimg.jpg);
}

/* MAIN */
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
}
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background: #FFB703;
    margin: 0px 0px 10px 0px;
}
h2, dt {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #FB8500;
    width: 100%;
    height: 50px;
    max-height: 100px;
    margin: 0px 0px 10px 0px;
}
p, dd {
    margin: 5px 20px 20px 20px;
    color: #023047;
    font-size: 25px;
    text-align: center;
}
footer {
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #023047;
    width: 100%;
    height: 20px;
}
footer p {
    position: relative;
    top: 5px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 0 0 0;
    align-self: center;
}

/* BLOG POSTS */
.blogPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogPost h2 {
    font-size: 25px;
}
.blogPost p {
    text-align: left;
}
.blogPost a {
    color: #023047;
    text-decoration: underline;
    transition-duration: .5s;
}
.blogPost a:hover {
    background: #023047;
    color: #F8F0E3;
    text-decoration: none;
}

/* CONTACT FORM */
form {
    display: flex;
    flex-direction: column;
    color: #023047;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 0px 0px 10px 0px;
}
form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    background: #FB8500;
}
form input, textarea {
    border: none;
    color: #023047;
    background: #FFFFFF;
    width: 100%;
    font-size: 25px;
    text-align: center;
}
form textarea {
    height: 200px;
}
form button {
    width: 100%;
    border: none;
    background: #FB8500;
    font-size: 40px;
}
.subscribe {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #FFB703;
    color: #023047;
}
.subscribe input {
    width: 25px;
    height: 25px;
}
.subscribe label {
    background: #FFB703;
    color: #023047;
}

/* SHOP */
.partSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchBar {
    display: flex;
    margin: 0 0 10px 0;
    width: 100%;
}
.searchBar input {
    width: 100%;
    border-radius: 25px;
    margin: 0 5px 0 0 ;
}
.searchBar button {
    font-size: 25px;
    width: 100px;
    border-radius: 25px;
    margin: 0 5px 0 5px;
}
.selectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10px 0;
}
.selectOptionWrapper {
    width: 100%;
    margin: 0 5px 0 5px;
}
.selectOptionWrapper label {
    background: #023047;
    color: #FFFFFF;
    font-size: 25px;
    width: 100%;
}
.selectOptionWrapper select {
    color: #023047;
    width: 100%;
    font-size: 25px;
    text-align: center;
    border: none;
}

/* SEARCH RESULTS */
.searchAndSort {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.sortBy {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 5px;
}
.sortBy select {
    border: none;
}
.sortBy label {
    background: none;
    color: #023047;
    font-size: 15px;
}
.results {
 width: 100%;
}
.results label, select {
    font-size: 15px;
    color:#023047;
    margin: 0 0 10px 0;
}
.results table {
    width: 100%;
    margin: 0 0 10px 0;
}
.results tr {
    background: #FFFFFF;
}
.results .tableHeader {
    background: #F8F0E3;
}
.results td, th {
    text-align: center;
    font-size: 25px;
    color: #023047;
    height: 50px;
    width: 75px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.results td a {
    color:#023047;
    text-decoration: underline;
}
#result1 {
    background-image: url(pics/autozoneresult.png);
}
#result2 {
    background-image: url(pics/advanceresult.png);
}
#result3 {
    background-image: url(pics/oreillyresult.png);
}
/*-------------------- TABLET / DESKTOP --------------------*/
@media only screen and (min-width: 600px) {
    .pageContainer {
        width: 80%;
    }
    nav {
        flex-direction: row;
    }
    .selectWrapper {
        flex-direction: row;
    }
}