* {
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 100%;
}

/* TITLE AND LOGO */
.logoContainer {
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}
.logoSymbol {
    background-image: url(pics/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    margin: .5rem;
}
.nameContainer {
    color: #FB8500;
    font-size: 2rem;
}

/* NAVBAR */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinks {
    display: flex;
}
.navLinks ul {
    display: flex;
}
.navLinks li {
    list-style: none;
    font-size: 1.5rem;
}
.navLinks li:hover {
    background: #d4d4d4;
}
.navLinks li a {
    padding: 1rem ;
    text-decoration: none;
    display: block;
    color: #023047;
}
.toggleButton {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    width: 2rem;
}
.toggleButton .bar {
    background: #023047;
    width: 100%;
    height: .25rem;
    border-radius: 10px;
}
/* Pics */
.mainImage {
    width: 100%;
    height: 15rem;
    margin-bottom: 10px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#homeImage {
    background-image: url(pics/homeimg.jpg);
}
#blogImage {
    background-image: url(pics/blogimg.jpg);
}
#aboutImage {
    background-image: url(pics/aboutimg.jpg);
}
#contactImage {
    background-image: url(pics/conctactimg.jpg);
}
#shopImage {
    background-image: url(pics/shopimg.jpg);
}

/* MAIN */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
}
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background: #FFB703;
    margin: 0px 0px 10px 0px;
}
h2, dt {
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #4b8fb1;
    width: 100%;
    height: 50px;
    max-height: 100px;
    margin: 0px 0px 10px 0px;
}
p, dd {
    margin: 5px 20px 20px 20px;
    color: #023047;
    font-size: 25px;
    text-align: center;
}
.divider {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.divider section {
    width: 27.5rem;
    margin: 0 .5rem 0 .5rem;
}
footer {
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #023047;
    width: 100%;
    height: 20px;
}
footer p {
    position: relative;
    top: 5px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 0 0 0;
    align-self: center;
}

/* BLOG POSTS */
.blogPost {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogPost h2 {
    font-size: 25px;
}
.blogPost p {
    text-align: left;
}
.blogPost a {
    color: #023047;
    text-decoration: underline;
    transition-duration: .5s;
}
.blogPost a:hover {
    background: #023047;
    color: #F8F0E3;
    text-decoration: none;
}

/* CONTACT FORM */
form {
    display: flex;
    flex-direction: column;
    color: #023047;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 10px 0px 10px 0px;
}
form label {
    color: #023047;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
}
form input, textarea {
    border: none;
    color: #023047;
    background: #e9e9e9;
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
}
form textarea {
    height: 200px;
    resize: none;
}
form button {
    width: 50%;
    border: none;
    background: #FB8500;
    font-size: 30px;
    border-radius: 25px;
}
.subscribe {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    color: #023047;
    margin: 10px;
}
.subscribe input {
    width: 40px;
    height: 40px;
}
.subscribe label {
    width: 15rem;
    color: #023047;
}

/* SHOP */
.partSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchBar {
    display: flex;
    margin: 0 0 10px 0;
    width: 100%;
}
.searchBar input {
    width: 100%;
    border-radius: 25px;
    margin: 0 5px 0 0 ;
}
.searchBar button {
    font-size: 25px;
    width: 100px;
    border-radius: 25px;
    margin: 0 5px 0 5px;
}
.selectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10px 0;
}
.selectOptionWrapper {
    width: 100%;
    margin: 0 5px 0 5px;
}
.selectOptionWrapper label {
    background: #023047;
    color: #FFFFFF;
    font-size: 25px;
    width: 100%;
}
.selectOptionWrapper select {
    color: #023047;
    width: 100%;
    font-size: 25px;
    text-align: center;
    border: none;
}

/* SEARCH RESULTS */
.searchAndSort {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.sortBy {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 5px;
}
.sortBy select {
    border: none;
}
.sortBy label {
    background: none;
    color: #023047;
    font-size: 15px;
}
.results {
 width: 100%;
}
.results label, select {
    font-size: 15px;
    color:#023047;
    margin: 0 0 10px 0;
}
.results table {
    width: 100%;
    margin: 0 0 10px 0;
}
.results tr {
    background: #FFFFFF;
}
.results .tableHeader {
    background: #F8F0E3;
}
.results td, th {
    text-align: center;
    font-size: 25px;
    color: #023047;
    height: 50px;
    width: 75px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.results td a {
    color:#023047;
    text-decoration: underline;
}

/*-------------------- Mobile --------------------*/
@media (max-width:625px) {
    .blogPost {
        width: 100%;
    }
    .divider {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .divider section {
        width: 100%;
    }
    .toggleButton {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .navLinks {
        display: none;
        width: 100%;
    }
    .navLinks ul{
        flex-direction: column;
        width: 100%;
    }
    .navLinks ul li a{
        text-align: center;
        width: 100%;
        height: 2rem;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    .navLinks.active {
        display: flex;
    }
}